<div
  class="block p-4 rounded-base border-b border-gray-300">
  <div class="flex justify-between items-start mb-2">
    <h5 class="text-lg md:text-xl font-semibold tracking-tight text-heading leading-6">
      Product Name
    </h5>
    <p class="text-lg md:text-xl font-bold text-brand">Subtotal: $0.00</p>
  </div>
  <div class="flex justify-between items-center mb-4 text-sm md:text-base">
    <p>
      <strong>Quantity:</strong>
      <span class="font-medium">0</span>
    </p>
    <p>
      <strong>Price:</strong>
      <span class="font-medium">$0.00</span>
    </p>
  </div>
  <div class="flex items-center gap-3">
  </div>
</div>
