<div
  class="block p-4 rounded-base shadow-xs"
  style="box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5)"
>
  <div class="flex justify-between items-start mb-2">
    <h5 class="text-lg md:text-xl font-semibold tracking-tight text-heading leading-6">
      Order #12345
    </h5>
    <p class="text-lg md:text-xl font-bold text-brand">$123.45</p>
  </div>
  <div class="flex justify-between items-center mb-4 text-sm md:text-base">
    <p>
      <strong>Created:</strong>
      <span class="font-medium">2025-11-18</span>
    </p>
  </div>
  <div class="flex items-center gap-3">
    <button
      class="bg-blue-500 text-white text-sm md:text-base font-bold py-2 px-4 rounded cursor-pointer hover:bg-blue-600"
       routerLink="/order-info"
      >
      View Details
    </button>
  </div>
</div>
