<h1 class="px-50 text-xl font-bold mt-20">Or Browse by Category</h1>

<div class="px-50 mt-10 categories-grid">
  <div class="grid gap-4 grid-cols-1 sm:grid-cols-2 lg:grid-cols-4">
    <button
      [routerLink]="['/results','electronics']"
      [queryParams]="{ source: 'category' }"
      class="category-card p-4 bg-white rounded shadow text-center hover:bg-blue-500 hover:text-white transition-colors cursor-pointer"
    >
      Electronics
    </button>
    <button
      [routerLink]="['/results','beauty']"
      [queryParams]="{ source: 'category' }"
      class="category-card p-4 bg-white rounded shadow text-center hover:bg-blue-500 hover:text-white transition-colors cursor-pointer"
    >
      Beauty
    </button>
    <button
      [routerLink]="['/results','fashion']"
      [queryParams]="{ source: 'category' }"
      class="category-card p-4 bg-white rounded shadow text-center hover:bg-blue-500 hover:text-white transition-colors cursor-pointer"
    >
      Fashion
    </button>
    <button
      [routerLink]="['/results','home-kitchen']"
      [queryParams]="{ source: 'category' }"
      class="category-card p-4 bg-white rounded shadow text-center hover:bg-blue-500 hover:text-white transition-colors cursor-pointer"
    >
      Home &amp; Kitchen
    </button>
  </div>
</div>
