<div class="block w-full border-b py-5 border-gray-300 rounded-base">
  <div class="flex flex-row justify-between items-start mb-2">
    <h5 class="text-lg md:text-xl font-semibold tracking-tight text-heading leading-6">
      Product Name
    </h5>
    <p class="text-lg md:text-xl font-bold text-brand">$0.00</p>
  </div>
  <div class="flex flex-row justify-between items-center mb-4 text-sm md:text-base">
    <p>
      <strong>Category:</strong>
      <span class="font-medium">category</span>
    </p>
    <p>
      <strong>Stock:</strong>
      <span class="font-medium">In stock</span>
    </p>
  </div>
  <div class="flex flex-row justify-between">
    <div class="flex flex-row items-center gap-3">
      <button
        class="cursor-pointer px-3 py-1 text-lg bg-gray-100 hover:bg-gray-200 rounded"
        aria-label="decrease quantity"
      >
        -
      </button>
      <p class="px-3 text-lg font-semibold">1</p>
      <button
        class="cursor-pointer px-3 py-1 text-lg bg-gray-100 hover:bg-gray-200 rounded"
        aria-label="increase quantity"
      >
        +
      </button>
    </div>
    <p><span class="font-bold">Total:</span> $0.00</p>
  </div>
</div>
